@media screen and (max-width:1024px) {
  .container {
    width: 100%;
    min-height: 100vh;

    header {
      width: 100%;

      .container__header {
        width: 100%;
      }
    }

    section.banner__portofolio {
      width: 100%;
      padding: 0px 10px;
    }

    section.gallery__portofolio {
      padding: 100px 10px;
    }

    section.about__portofolio {
      padding: 100px 10px;
    }

    section.projects__portofolio {
      padding: 100px 10px;
    }

    section.contact__portofolio {
      padding: 100px 10px;
    }

    footer {
      padding: 50px 10px;
    }
  }
}

@media screen and (max-width:768px) {
  .container {
    width: 100%;
    min-height: 100vh;
    position: relative;
    overflow-x: hidden;

    header {
      width: 100%;

      .container__header {
        width: 100%;
      }
    }

    section.banner__portofolio {
      width: 100%;
      padding: 50px 10px;

      .container__banner__portofolio {
        min-height: 100%;

        .row__banner__portofolio {
          padding-top: 100px;
        }
      }
    }

    section.about__portofolio {
      padding: 50px 10px;

      .container__about__portofolio {
        width: 100%;

        .row__about__portofolio {
          .box__about {
            .box__about__text {
              width: 400px;
            }

            .box__about__images {
              width: 300px;
            }
          }
        }

        .row__experience__portofolio {
          .box__experience {
            width: 100%;

            .box__description__experience {
              width: 500px;
            }
          }

          .box__experience__skill {
            width: 100%;

            .box__skills {
              width: 550px;
              justify-content: space-between;

              .box_skill_image {
                width: 80px;
                height: 70px;
              }
            }
          }
        }
      }
    }

    section.projects__portofolio {
      padding: 50px 10px;

      .container__projects__portofolio {
        width: 100%;

        .row__projects__portofolio {
          .box__project__portofolio {
            .text__details__projects__portofolio {
              h1 {
                font-size: 30px;
              }
            }

            .box__images__projects__portofolio {
              width: 600px;
              height: 250px;
            }
          }

          .box__project__portofolioo {
            .text__details__projects__portofolio {
              width: 300px;
              margin-left: 30px;

              h1 {
                font-size: 30px;
              }
            }

            .box__images__projects__portofolio {
              width: 500px;
              height: 250px;
            }
          }
        }

        .modal__galerry {
          width: 100%;
        }
      }
    }

    section.contact__portofolio {
      padding: 50px 10px;

      .container__contact__portofolio {
        width: 100%;

        .row__contact__portofolio {
          .box__form__contact__portofolio {
            width: 500px;

            form {
              .input__group {
                flex-direction: column;
                align-items: flex-start;

                .input {
                  margin-top: 20px;
                  width: 100%;

                  input[type='text'],
                  input[type='email'] {
                    width: 100%;
                  }
                }
              }
            }
          }
        }
      }
    }

    footer {
      padding: 50px 10px;

      .container__footer {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width : 570px) {
  .container {
    width: 100%;
    min-height: 100vh;
    position: relative;
    overflow-x: hidden;

    .btn__top {
      bottom: 100px;
    }

    .btn__topp {
      right: 20px;
    }

    header {
      width: 100%;
      padding: 2%;

      .container__header {
        width: 100%;

        nav.portofolio__nav {
          width: 100%;
          position: fixed;
          bottom: 0;
          left: 0;
          padding: 10px;
          background-color: #e4e4e4;
          box-shadow: 10px 5px 2px rgba(0, 0, 0, 0.15);

          ul.portofolio__nav__list {
            li.list__portofolio {
              text-align: center;
              transition: 0.5s;
              padding: 2px;
              width: 100px;

              i {
                margin: 10px 0px;
                font-size: 20px;
                display: block;
              }
            }

            li.list__portofolio.active {
              border-radius: 5px;
              background-color: rgba(0, 0, 0, 0.12);
              transition: 0.5s;
              font-weight: 500;

              i {
                animation-name: shake;
                animation-timing-function: ease-in;
                animation-duration: 0.5s;

              }
            }

            li.list__portofolio:hover {
              transform: translateY(-5px);
              transition: 0.5s;
            }
          }
        }
      }
    }

    header.sticky {
      padding: 3% 2%;
      box-shadow: none;
    }

    section.banner__portofolio {
      width: 100%;
      min-height: 100vh;

      .container__banner__portofolio {
        width: 100%;
        padding: 0px 10px;

        .row__banner__portofolio {
          padding-top: 100px;

          .box__banner__portofolio {
            width: 100%;

            h1.tobe {
              font-size: 40px;
            }

            h1 {
              text-align: center;
              font-size: 40px;
            }

            .description {
              width: 100%;

              span.type {
                font-size: 21px;
              }
            }
          }
        }
      }
    }

    section.about__portofolio {
      padding: 50px 10px;

      .container__about__portofolio {
        width: 100%;

        .row__about__portofolio {
          .box__about {
            width: 100%;
            flex-direction: column;

            .box__about__text {
              width: 100%;
              text-align: center;
            }

            .box__about__images {
              width: 100%;
              margin-top: 50px;
            }
          }
        }

        .row__experience__portofolio {
          .title {
            text-align: center;

            h1 {
              text-align: center;
            }
          }

          .box__experience {
            .box__description__experience {
              width: 100%;
            }
          }

          .box__experience__skill {
            width: 100%;
            flex-direction: column;

            .box__title {
              h1 {
                font-weight: 500;
                font-size: 40px;
              }
            }

            .box__skills {
              width: 100%;
            }
          }
        }
      }
    }

    section.projects__portofolio {
      padding: 50px 10px;

      .container__projects__portofolio {
        width: 100%;

        .title__projects {
          width: 100%;
          text-align: center;
        }

        .row__projects__portofolio {
          .box__project__portofolio {
            width: 100%;
            flex-direction: column;

            .text__details__projects__portofolio {
              width: 100%;

              .details {
                text-align: center;
              }
            }

            .box__images__projects__portofolio {
              width: 100%;
              margin-top: 30px;
              height: auto;
            }
          }

          .box__project__portofolioo {
            flex-direction: column;

            .text__details__projects__portofolio {
              width: 100%;

              .details {
                text-align: center;
              }
            }

            .box__images__projects__portofolio {
              width: 100%;
              height: auto;
              margin-top: 30px;
            }
          }

          .box__project__portofolioo.block {
            flex-direction: column;

            .box__images__projects__portofolio {
              margin-top: 30px;
            }
          }
        }
      }

      .modal__gallery {
        width: 100%;
        padding: 40px 10px;

        .modal__content__gallery {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            width: 100%;
            height: auto;
          }
        }
      }
    }

    section.contact__portofolio {
      padding: 50px 10px;

      .container__contact__portofolio {
        width: 100%;

        .row__contact__portofolio {
          flex-direction: column-reverse;

          .text__contact__portofolio {
            width: 100%;

            h1,
            p {
              text-align: center;
            }
          }

          .box__form__contact__portofolio {
            width: 100%;
            margin: 30px 0px;
            padding: 30px 15px;

            h1 {
              text-align: center;
            }

            form {
              .input__group {
                flex-direction: column;

                .input {
                  display: block;
                  width: 100%;
                  margin: 10px 0px;

                  input[type='text'],
                  input[type='email'] {
                    width: 100%;
                    display: block;
                  }
                }
              }
            }
          }
        }
      }
    }

    footer {
      padding: 50px 10px 100px 10px;

      .container__footer {
        width: 100%;

        .row__footer {
          flex-direction: column;
          text-align: center;

          .footer__logo {
            .logo {
              margin: 10px 0px;
            }
          }

          .footer__link {
            margin: 20px 0px;
          }
        }
      }
    }
  }
}

@keyframes shake {
  0% {
    transform: translate(3px, 0);
  }

  50% {
    transform: translate(-3px, 0);
  }

  100% {
    transform: translate(0, 0);
  }
}